resources:
  pipelines:
  - pipeline: uiPipeline
    source: Pathak101.AzureDevops_Practise   # UI pipeline name
    trigger:
      branches:
        include:
        - main

pool:
  vmImage: ubuntu-latest

variables:
  APP_URL: https://siddharthpathak.azurewebsites.net

stages:
# =====================
# SELENIUM VALIDATION
# =====================
- stage: Selenium
  displayName: UI Selenium Validation
  jobs:
  - job: RunSeleniumTests
    displayName: Run Selenium Tests
    steps:

    - task: Maven@3
      displayName: Run Selenium Tests
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.11'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        goals: 'clean test'
