# Maven
# Build your Java project and run tests with Apache Maven.

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
# =====================
# Maven Build
# =====================
- task: Maven@3
  displayName: Maven Package
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'clean package'

# =====================
# Copy WAR
# =====================
- task: CopyFiles@2
  displayName: Copy WAR
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)'
    Contents: '**/target/*.war'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

# =====================
# Publish Artifact
# =====================
- task: PublishBuildArtifacts@1
  displayName: Publish WAR Artifact
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'warfile'
    publishLocation: 'Container'
