# Maven CI/CD Pipeline – Build & Deploy WAR to Azure App Service

trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
# =====================
# CI – BUILD STAGE
# =====================
- stage: CI
  displayName: CI - Build
  jobs:
  - job: Build
    displayName: Maven Build
    steps:

    # ---------------------
    # Maven Build (skip tests)
    # ---------------------
    - task: Maven@3
      displayName: Maven Package
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.11'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        goals: 'clean package -DskipTests'

    # ---------------------
    # Copy WAR
    # ---------------------
    - task: CopyFiles@2
      displayName: Copy WAR
      inputs:
        SourceFolder: '$(System.DefaultWorkingDirectory)'
        Contents: '**/target/*.war'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    # ---------------------
    # Publish Artifact
    # ---------------------
    - task: PublishBuildArtifacts@1
      displayName: Publish WAR Artifact
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'warfile'
        publishLocation: 'Container'


# =====================
# CD – DEPLOY STAGE
# =====================
- stage: CD
  displayName: CD - Deploy to Azure
  dependsOn: CI
  condition: succeeded()

  jobs:
  - deployment: DeployToAzure
    displayName: Deploy WAR to Azure App Service
    environment: dev
    strategy:
      runOnce:
        deploy:
          steps:

          # ---------------------
          # Download Artifact
          # ---------------------
          - download: current
            artifact: warfile

          # ---------------------
          # Deploy to Azure App Service
          # ---------------------
          - task: AzureWebApp@1
            displayName: Deploy WAR to Azure App Service
            inputs:
              azureSubscription: 'Azure subscription 1(3c7777d7-b743-402f-ad14-cf54579438cc)'
              appType: 'webAppLinux'
              appName: 'siddharthpathak'
              package: '$(Pipeline.Workspace)/warfile/**/*.war'
